
.myheader {
  text-align: center;
  background-color: white;
}

.profile-pic {
  border-radius: 50%;
}

.carousel-item {
    height: 500px;
    text-align: center;
}


.item1 {
  background-image: url(https://images8.alphacoders.com/545/545909.jpg);
  background-position: center;
}

.item2 {
  background-image:url(https://cdn.hipwallpaper.com/i/75/6/1NStk9.jpg);
  /*height: 100px;*/
}

.item3 {
  background-image:url(https://wallpaperaccess.com/full/825336.jpg);
  /*height: 100px;*/
}

