
.myheader {
  text-align: center;
  background-color: white;
}

.profile-pic {
  border-radius: 50%;
}

.carousel-item {
    text-align: center;
}


.item1 {
  color: whitesmoke;
  background-image: url(https://images8.alphacoders.com/545/545909.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      height: auto;
    width: 100%;
}

.item2 {
  color: whitesmoke;
  background-image:url(https://cdn.hipwallpaper.com/i/75/6/1NStk9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      height: auto;
    width: 100%;
}

.item3 {
  color: whitesmoke;
  background-image:url(https://wallpaperaccess.com/full/825336.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      height: auto;
    width: 100%;
}

